Language: Cpp
Standard: Cpp11
IndentWidth: 4
TabWidth: 4
UseCRLF: false
AlignTrailingComments: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
IndentCaseLabels: true
SpacesInSquareBrackets: false
SpacesInParentheses: false
SpaceAfterCStyleCast: false
SpaceInEmptyParentheses: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
UseTab: Always
ColumnLimit: 0
BreakBeforeBraces: Allman
IndentExternBlock: Indent
PointerAlignment: Left
SortIncludes: false
NamespaceIndentation: All
